<!-- contact -->
<div id="footer-contact">
  <h2>Get in Touch</h2>
  <p class="contact">
    <span class="material-symbols-outlined"> person </span>
    <strong>Mr. Vikram Rajput - Training and Placement Officer</strong>
  </p>
  <p class="contact">
    <span class="material-symbols-outlined"> location_on </span>Training &
    Placement Cell, Madhav Institute of Technology & Science (MITS), Gola ka
    Mandir, Gwalior - 474005, Madhya Pradesh, India
  </p>
  <p class="contact">
    <span class="material-symbols-outlined"> mail </span>tnp@mitsgwalior.in
  </p>
  <p class="contact">
    <span class="material-symbols-outlined"> call </span>0751-2409362 ,
    0751-2409332
  </p>
</div>

<!-- footer-note -->
<div id="footer-note">
  <span class="material-symbols-outlined"> groups </span>
  <span class="material-symbols-outlined"> code </span>
  <p>Developed By, Software Development Club, MITS Gwalior</p>
</div>
