<!-- nav-header -->
<nav>
  <ul class="nav-menu1">
    <% if (!locals.isAuth) { %>
    <li>
      <a class="nav-link1" href="/signup"
        ><span class="material-symbols-outlined"> how_to_reg </span>Signup</a
      >
    </li>
    <li>
      <a class="nav-link1" href="/login"
        ><span class="material-symbols-outlined"> login </span>Login</a
      >
    </li>
    <% } %> 
    <% if (locals.isAuth) { %>
    <li>
      <a class="nav-link1" href="/"
        ><span class="material-symbols-outlined"> dashboard </span>Dashboard</a
      >
    </li>
    <% if (locals.role === "student") { %>
    <li>
      <a class="nav-link1" href="/organization-details"
        ><span class="material-symbols-outlined"> description </span>Apply for
        NOC</a
      >
    </li>
    <% } %> 
    <% if (locals.role === "tnp") { %>
    <li>
      <a class="nav-link1" href="/admin-panel-tnp"
        ><span class="material-symbols-outlined"> admin_panel_settings </span
        >Admin Panel</a
      >
    </li>
    <% } %>
    <li>
      <a class="nav-link1" href="/forgot-password"
        ><span class="material-symbols-outlined"> password </span>Change
        Password</a
      >
    </li>
    <li>
      <a class="nav-link1" href=""
        ><span class="material-symbols-outlined"> account_circle </span
        >Profile</a
      >
    </li>
    <li>
      <form action="/logout" method="POST">
        <button class="btn-nav nav-link1">
          <span class="material-symbols-outlined"> logout </span>Logout
        </button>
      </form>
    </li>
    <% } %>
  </ul>
  <div class="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>
</nav>

<script>
  const hamb = document.querySelector(".hamburger");
  const navmenu = document.querySelector(".nav-menu1");

  hamb.addEventListener("click", () => {
    hamb.classList.toggle("active");
    navmenu.classList.toggle("active");
  });
  document.querySelectorAll(".nav-link1").forEach((n) =>
    n.addEventListener("click", () => {
      hamb.classList.remove("active");
      navmenu.classList.remove("active");
    })
  );
</script>
