<!-- nav-header -->
<nav>
  <ul>
    <li>
      <a href=""
        ><span class="material-symbols-outlined"> dashboard </span>Dashboard</a
      >
    </li>
    <li>
      <a href=""
        ><span class="material-symbols-outlined"> description </span>Apply for
        NOC</a
      >
    </li>
    <li>
      <a href=""
        ><span class="material-symbols-outlined"> account_circle </span
        >Profile</a
      >
    </li>
    <li>
      <a href=""
        ><span class="material-symbols-outlined"> password </span>Change
        Password</a
      >
    </li>
    <li>
      <a href=""
        ><span class="material-symbols-outlined"> logout </span>Logout</a
      >
    </li>
  </ul>
</nav>
