<!DOCTYPE html>

<html>
  <head>
    <%- include("includes/head", { title: 'Password Reset' }) %>

    <!-- link to stylesheet -->
    <link rel="stylesheet" href="./styles/login.css" />
  </head>
  <body>
    <header>
      <%- include("includes/main-header") %>
    </header>

    <main>
      <!--forgotten password container -->
      <div class="login-container">
        <div class="form-box fp">
          <h2>Forgot Password</h2>
          <form class="login">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="username" id="email" name="email" />
            </div>
            <button type="submit" class="btn">Send OTP</button>
            <div class="form-group">
              <label for="otp">OTP</label>
              <input type="number" class="otp-number" id="otp" name="otp" />
            </div>
            <button type="submit" class="btn">Reset Password &#x2794;</button>
            <a href="/" class="btn-alt">Cancel</a>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
