<!DOCTYPE html>

<html>
  <head>
    <%- include("includes/head", { title: 'Password Reset' }) %>

    <!-- link to stylesheet -->
    <link rel="stylesheet" href="./styles/login.css" />
  </head>
  <body>
    <header>
      <%- include("includes/main-header") %>
    </header>

    <main>
      <!--forgotten password container -->
      <div class="login-container">
        <div class="form-box fp">
          <h2>Forgot Password</h2>
          <form class="login">
            <div class="form-group">
              <label for="name">Username or Mobile Number</label>
              <input type="text" class="username" id="name" name="name" />
            </div>
            <div class="form-group">
              <label for="pass">OTP</label>
              <input type="number" class="otp-number" id="num" name="num" />
            </div>
            <button type="submit" class="btn">Login &#x2794;</button>
          </form>
          <div class="google-login">
            <a class="btl">Back to Login</a>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
