<!DOCTYPE html>

<html>
  <head>
    <%- include("includes/head", { title: 'login' }) %>

    <!-- link to stylesheet -->
    <link rel="stylesheet" href="./styles/login.css" />
  </head>
  <body>
    <header>
      <%- include("includes/main-header") %>
    </header>

    <main>
      <!--login container start -->
      <div class="login-container">
        <div class="form-box">
          <h2>Login Here</h2>
          <form class="login">
            <div class="form-group">
              <label for="name">Username</label>
              <input type="text" class="username" id="name" name="name" />
            </div>
            <div class="form-group">
              <label for="pass">Password</label>
              <input type="password" class="password" id="pass" name="pass" />
            </div>
            <button type="submit" class="btn">Login &#x2794;</button>
            <a href="#">Forgotten Password?</a>
          </form>
          <h4>or</h4>
          <div class="google-login">
            <button><img src="./images/g.png" />Login With Google</button>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
