<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head", { title: 'More Deatils' }) %>

    <!-- link to stylesheet -->
    <link rel="stylesheet" href="/styles/dashboard.css" />
  </head>

  <body>
    <header>
      <%- include("includes/main-header") %> 
      <%- include("includes/nav-header") %>
    </header>

    <main>      
      <section class="student-details-parent-container">
        <section class="student-details-container">
          <section class="student-details-heading">
            <h1>Student's Details</h1>
          </section>
          <section class="student-details-body">
            <table>
              <tbody>
                <tr>
                  <td><b>Name - </b><span>Jayesh Patidar</span></td>
                </tr>
                <tr>
                   <td><b>Enrollment Number - </b><span>0901IO201035</span></td>
                </tr>
                <tr>
                  <td><b>Email - </b><span>patidarjay124@gmail.com</span></td>
                </tr>
                <tr>
                  <td><b>Mobile Number - </b><span>8827945491</span></td>
                </tr>
                <tr>
                  <td><b>Father's Name  - </b><span>Mahendra Patidar</span></td>
                </tr>
                <tr>
                  <td><b>Branch - </b><span>IT-IOT<span></td>
                </tr>
                <tr>
                  <td><b>Year - </b><span>I st Year<span></td>
                </tr>
                <tr>
                   <td><b>Current Address - </b><span>Maheswar Road Dhamnod<span></td>
                </tr>
                <tr>
                   <td><b>State - </b><span>M.P.<span></td>
                </tr>
                <tr>
                   <td><b>Pin Code - </b><span>454552<span></td>
                </tr>
                <tr>
                    <td><b>Company Name  - </b><span>info.Tech<span></td>
                </tr>
                <tr>
                   <td><b>Location  - </b><span>Gole ka mandir Gwalior<span></td>
                </tr>
                <tr>
                    <td><b>Designation of Person - </b><span>Web Developer<span></td>
                </tr>
                <tr>
                    <td><b>Internship Days - </b><span>60<span></td>
                </tr>
                <tr>
                    <td><b>Internship Start Date - </b><span>1/5/2023<span></td>
                </tr>
                <tr>
                    <td><b>Internship End Date - </b><span>1/7/2023<span></td>
                </tr>
                <tr>
                    <td><b>Internship Website - </b><span>http://loclahost:3000<span></td>
                </tr>
                <tr>
                    <td><b>Apply Through - </b><span>Internsala<span></td>
                </tr>
                <tr>
                    <td><b>Full Address - </b><span>23,gole ka mandr pragati vihar ,Gwalior<span></td>
                </tr>



              </tbody>
            </table>
          </section>
        </section>
      </section>

      
    </main>

    <footer>
      <%- include("includes/footer") %>
    </footer>
  </body>
</html>
