<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>NOC</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles/noc.css" />
  </head>
  <body>
    <div class="page">
      <div class="top">
        <div class="cl-logo">
          <img src="/images/mits-logo.png" />
        </div>
        <div class="content">
          <h5>MADHAV INSTITUTE OF TECHNOLOGY & SCIENCE, GWALIOR</h5>
          <p>
            (A Govt. Aided UGC Autonomous & NAAC Accredited Institute Affiliated
            to RGPV, Bhopal) <br />
            Phone: 0751-2409362, Email id: tnp@mitsgwalior.in
          </p>
          <p class="tnp-heading">(Training and Placement Cell)</p>
        </div>
      </div>
      <hr>
      <div class="ref-date">
        <h5 class="ref">
          Ref :
          <p class="reference-number">T&P/22/P</p>
        </h5>
        <h5 class="date">
          Date :
          <p class="reference-date">22/2/2022</p>
        </h5>
      </div>
      <br />
      <div class="main-content">
        <p>To,</p>
        <p>Hr Team</p>
        <p>CEO , Infosys</p>
        <p>ONGC, Bhopal</p>
        <br /><br />
        <p>Dear Sir/Ma’am,</p>
        <br />
        <p>
          We are grateful to the co-operation in imparting Industrial
          Training/Internship/Vocational Training to the Students of our
          Institute. Industrial training/Internship is a part of Academic
          Curriculum in Pre-Final and Final year of B.Tech./MCA/MBA students and
          the progress of the same will be counted in their overall results and
          also gives them exposure & improves their skills and personality.
        </p>
        <br />
        <p>
          We will be highly obliged, if the following student is/are permitted
          to undergo Training / Internship at your esteemed Organization for a
          period of 23/05/2023 to 20/06/2023.
        </p>
        <br />
        <table>
          <tr>
            <th>S.No.</th>
            <th>Name of the Student</th>
            <th>Enrollment No.</th>
            <th>Branch</th>
          </tr>
          <tr>
            <td>1.</td>
            <td>Test Singh</td>
            <td>201IO201035</td>
            <td>B.Tech - Internt Of Thinks(IT)</td>
          </tr>
        </table>
        <br />
        <p>Hoping for your kind cooperation.</p>
        <br /><br />
        <p>Best Regards!</p>
        <br />
        <div class="signature">
          <img src="/images/signature.jpg" />
        </div>
        <p><b style="font-size: 16px">(Mr. Vikram Singh Rajput)</b></p>
        <p><b style="font-size: 16px">Training & Placement Officer</b></p>
        <br /><br />
        <p>Kindly feel free to contact us for any further information.</p>
        <br /><br />
        <p class="note">
          <span>Important Declaration:</span> This is a system generated letter with
          reference no. after the approval from the authority. There is no need
          for a signature and seal on hard copy.
        </p>
      </div>
    </div>
  </body>
</html>
