<!DOCTYPE html>

<html>
  <head>
    <%- include("includes/head", { title: 'Signup' }) %>

    <!-- link to stylesheet -->
    <link rel="stylesheet" href="./styles/login.css" />
  </head>
  <body>
    <header>
      <%- include("includes/main-header") %>
    </header>

    <main>
      <!--login container start -->
      <div class="login-container">
        <div class="form-box">
          <h2>Signup Here</h2>
          <form class="login">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="username" id="email" name="email" />
            </div>
            <div class="form-group">
              <label for="confirmEmail">Confirm Email</label>
              <input type="email" class="username" id="confirmEmail" name="confirmEmail" />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="password" id="password" name="password" />
            </div>
            <button type="submit" class="btn">Signup &#x2794;</button>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
