* {
  --color-primary-100: rgb(236, 228, 223);
  --color-primary-150: rgb(207, 188, 175);
  --color-primary-200: rgb(197, 174, 160);
  --color-primary-300: rgb(158, 120, 97);
  --color-primary-400: rgb(95, 72, 58);
  --color-primary-500: rgb(32, 24, 19);
  
  --color-secondary-100: rgba(236, 228, 223, 0.8);

  --color-status-approved-bg: rgb(162, 240, 181);
  --color-status-approved-text: rgb(2, 91, 30);
  --color-status-pending-bg: rgb(248, 221, 167);
  --color-status-pending-text: rgb(111, 82, 22);
  --color-status-rejected-bg: rgb(254, 193, 207);
  --color-status-rejected-text: rgb(179, 0, 33);

  --color-shadow: rgba(0, 0, 0, 0.75);
}
