* {
  --color-primary-100: rgb(236, 228, 223);
  --color-primary-150: rgb(207, 188, 175);
  --color-primary-200: rgb(197, 174, 160);
  --color-primary-300: rgb(158, 120, 97);
  --color-primary-400: rgb(95, 72, 58);
  --color-primary-500: rgb(32, 24, 19);
}
