.details-parent-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem;
}

.details-parent-container .student-details-container {
  width: 100%;
}

.student-details-container table {
  width: 100%;
}

.details-parent-container .student-details-parent-container {
  width: 100%;
}

.status {
  width: fit-content;
  margin: 0 auto;
  /* font-size: 1.25rem; */
}

@media (max-width: 768px) {
  .student-details-container {
    width: 80%;
  }

  .details-parent-container {
    flex-direction: column;
  }
}
