@import url("/styles/colors.css");

.NOC-form-parent-container li {
  width: 100%;
}

.noc-form-heading {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
}

.instructions {
  margin: 1rem;
  padding: 1rem;
  background-color: var(--color-primary-100);
  border: 2px solid var(--color-primary-500);
  border-radius: 12px;
}

.instructions-main-heading {
  text-align: center;
  font-size: 1.75rem;
  margin: 0.5rem 0;
  text-transform: uppercase;
}

.instructions-sub-heading {
  font-size: 1rem;
}

.NOC-form-parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.NOC-form-container {
  background-color: var(--color-primary-100);
  padding: 2rem;
  border: 2px solid var(--color-primary-500);
  border-radius: 12px;
}

.NOC-form-container-org {
  width: 70%;
}

.input-fields-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

.extra-instructions {
  margin: 0;
  font-size: 0.75rem;
}

.noc-form-sub-heading {
  text-transform: uppercase;
  font-size: 1.75rem;
  margin: 0 0 1rem 0;
  text-align: center;
}

input,
select {
  display: block;
  padding: 0.5rem;
  font: inherit;
  border-radius: 8px;
  border: 1.5px solid var(--color-primary-500);
  margin-bottom: 1rem;
  width: 100%;
  box-sizing: border-box;
}

label {
  display: block;
  margin: 0.5rem 0;
  font-weight: bold;
}

.button-container {
  text-align: right;
}

#self-declaration {
  margin: 1rem;
  width: auto;
}

#self-declaration-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#self-declaration-container label {
  text-align: justify;
}

@media (max-width: 768px) {
  .NOC-form-container-org {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .NOC-form-container-org {
    width: 85%;
  }
}
