*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page {
  width: 60%;
  border: 2px solid black;
  margin: 10px;
  padding-bottom: 50px;
}
.cl-logo {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
}
.cl-logo img {
  width: 100px;
  height: 80px;
}

.top {
    margin-bottom: 1rem;
}

.top .content {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.top .content h5 {
  width: 80%;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: blue;
}
.top .content p {
  width: 80%;
  margin-top: 2px;
  font-size: 14px;
  font-weight: 600;
}
.top hr {
  margin-top: 2px;
  border-top: 2px solid black;
}
.ref-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
  margin-top: 10px;
}
.ref-date .ref,
.date {
  display: flex;
  flex-direction: row;
  text-transform: capitalize;
  color: red;
  font-size: 14px;
  font-weight: 400;
}
.ref-date .reference-number,
.reference-date {
  padding-left: 5px;
  text-transform: capitalize;
  color: red;
  font-size: 14px;
  font-weight: 400;
}
.main-content p {
  font-size: 14px;
  font-weight: 400;
  padding-left: 40px;
  padding-right: 40px;
  line-height: 20px;
  text-align: justify;
}
.main-content span {
  font-size: 14px;
  font-weight: 400;
}
.main-content table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  font-size: 14px;
  font-weight: 400;
  width: 92%;
  margin-left: 40px;
}

.main-content td,
th {
  border: 1.5px solid black;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  padding: 4px 8px;
}
.main-content .signature img {
  width: 150px;
  height: 50px;
  padding-left: 40px;
}

.tnp-heading {
  color: blue;
}

.note {
    font-style: italic;
}

.note span {
    font-weight: bold;
}

/* media query */

@media (min-width: 300px) and (max-width: 770px) {
  .page {
    width: 100%;
    font-size: 50%;
  }
  h5,
  p,
  span {
    font-size: 50%;
  }
  .top .content h5 {
    width: 90%;
    font-size: 16px;
  }
  .top .content p {
    width: 90%;
    font-size: 10px;
  }
  .main-content table {
    width: 84%;
  }
  .main-content td,
  th {
    font-size: 50%;
    padding: 2px 4px;
  }
}
