@import url("/styles/colors.css");

main {
  padding: 1rem;
  color: var(--color-primary-500);
  font-size: 1rem;
}

#noc-form-heading {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
}

#instructions-heading {
  font-size: 1rem;
}

#student-personal-details-form-container {
  background-color: var(--color-primary-100);
  padding: 2rem;
  border: 2px solid var(--color-primary-500);
  border-radius: 12px;
  width: 42rem;
  margin: 2rem auto;
}

#name-instructions {
  margin: 0;
  font-size: 0.75rem;
}

#noc-form-sub-heading {
  text-transform: uppercase;
  font-size: 1.75rem;
  margin: 0 0 1rem 0;
  text-align: center;
}

input,
select {
  display: block;
  padding: 0.5rem;
  font: inherit;
  border-radius: 8px;
  border: 1.5px solid var(--color-primary-500);
  margin-bottom: 1rem;
  width: 37rem;
  box-sizing: border-box;
}

label {
  display: block;
  margin: 0.5rem 0;
}

#button-container {
  text-align: right;
}

.btn {
  font: inherit;
  color: var(--color-primary-100);
  background-color: var(--color-primary-400);
  border: 2px solid var(--color-primary-400);
  padding: 0.25rem 1rem;
  text-transform: uppercase;
  border-radius: 30px;
  margin: 0.5rem;
  font-size: 1.2rem;
}

.btn-alt {
  font: inherit;
  color: var(--color-primary-400);
  background-color: var(--color-primary-100);
  border: 2px solid var(--color-primary-400);
  padding: 0.25rem 1rem;
  text-transform: uppercase;
  border-radius: 30px;
  margin: 0.5rem;
  font-size: 1.2rem;
}

.btn:hover {
  color: var(--color-primary-400);
  background-color: var(--color-primary-100);
  cursor: pointer;
}

.btn-alt:hover {
  color: var(--color-primary-100);
  background-color: var(--color-primary-400);
  cursor: pointer;
}
